/* components/ActionCard/ActionCard.css */
.action-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.action-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.action-card h2 {
  padding: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.action-card p {
  padding-top: 5px;
  padding-right: 10px;
  text-align: right;
}

.action-thumbnail {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.action-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.placeholder-thumbnail {
  color: #999;
  font-size: 14px;
}
