/* components/ActionCard/ActionCard.css */
.action-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
}

.action-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.action-card h2 {
  padding: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.action-card p {
  padding-top: 5px;
  padding-right: 10px;
  text-align: right;
}

.action-thumbnail {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.action-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%; /* 최대 확대 제한 */
  max-height: 150%; /* 최대 확대 제한 */
  object-fit: cover;
}

.placeholder-thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #999;
  font-size: 14px;
}

.action-info {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
