.section-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(-45deg, #87ceeb, #1e90ff, #00bfff, #add8e6);
  background-size: 400% 400%;
  animation: wave 15s ease infinite;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #4c4cff;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 20px;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
