.footer {
  color: black;
  height: 15vh;
  width: 100% - 40px;
  padding: 10px 20px;
  text-align: center;
  align-content: center;
  background: linear-gradient(-45deg, #87ceeb, #1e90ff, #00bfff, #add8e6);
  background-size: 400% 400%;
  animation: wave 15s ease infinite;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
