.sorting-options {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 1000;
  border-radius: 5px;
}

.sorting-options select {
  width: 100%;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4c4cff;
  background-color: white;
  color: #4c4cff;
  font-size: 16px;
  transition: all 0.3s ease;
}

.sorting-options select:hover {
  background-color: #4c4cff;
  color: white;
}
